/* CSS variables */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --second-bg-color: #2F303A;
    --third-bg-color: #F5F4FA;
}

/* Hidden headlines */
.hidden {
    font-size: 0%;   
}


/* Body global style */
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* header style */
.header {
    background-color: var(--primary-bg-color);
}

/* Logo style */
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
/* logo style header */
.logo > .logo-black {
    color: #000;
}

/* nav list type */
.site-nav {
    list-style-type: none;
}

/* Nav style default links*/
.site-nav .nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.site-nav .nav-link:focus,
.site-nav .nav-link:hover {
    color: var(--accent-color);
}
/* Nav style active link */
.site-nav .nav-link.active {
    color: var(--accent-color);
}
/* Contact links style */
.contact-list .contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-list {
    list-style-type: none;
}

.contact-list .contact-link:focus,
.contact-list .contact-link:hover {
    color: var(--accent-color)
}

/* Footer style */
.footer {
    background-color: var(--second-bg-color);
}
/* Footer logo style */
.logo>.logo-white {
    color: #FFFFFF;
}

/* Address style */
.map-link {
    color: var(--white-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.map-link:hover,
.map-link:focus {
    color: var(--accent-color);
}


/* Mail and tel styles */
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}
.footer-link-list {
    list-style-type: none;
}
/* Main style */

/* Hero style */
.hero-section {
    background-color: var(--second-bg-color);
}
.hero-section .hero-title {
color: var(--white-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

/* Buttons style */

.button.main { 
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-list {
    list-style-type: none;
}
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--third-bg-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    cursor: pointer;
}

.button.secondary:focus,
.button.secondary:hover {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    }

/* Features  */
.feature-list {
    list-style-type: none;
}
.feature-list .feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-list .feature-explain {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* Our job */
.job-list {
    list-style-type: none;
}
.our-job .job-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.666;
    text-align: center;
}

/* Our team */
.team-list {
    list-style-type: none;
}
.our-team {
    background-color: var(--third-bg-color);
}
/* чи потрібно задавати li свій background? */
.our-team li {
    background-color: var(--primary-bg-color);
}

.our-team .team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.666;
    text-align: center;
}

.our-team .personal-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
}

.our-team .team-position {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
}

/* portfolio page style */
.project-list {
    list-style-type: none;
}
.project-examples .project-title {
    color: var(--title-text-color);
        font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-examples .project-filter {
    color: var(--primary-text-color);      
    font-size: 16px;
    line-height: 1.875;
}



